*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position:fixed;
    top:0;
    left: 0;
    font-family: Copperplate, Papyrus, fantasy;
    width: 100%;
    z-index: 9999;
    overflow: hidden; 
}

nav a{
    color: white;
    text-decoration: none;
   

  }
  a:hover{
    background-color: rgb(22, 22, 94);
    border-radius: 10px;
    padding: 10px;
  }
.logo{
  justify-content: flex-start;
  align-items: flex-start;
    font-size: 2rem;
    color: #fff;   
    font-family: Copperplate, Papyrus, fantasy;
   
    margin-right: 1200px;
   
}
 
img{
    width: 7%;
    padding-left: 2px;
    margin-top: 0.4px;
    object-fit: cover;
    object-position: center;
}
header{
    background: url(https://advancelocal-adapter-image-uploads.s3.amazonaws.com/image.pennlive.com/home/penn-media/width2048/img/wildaboutpa/photo/summer-sunrisejpg-8a3de64ee9c00a6e.jpg);
    
    background-size: cover;
    height: 51vh;
}

.cont{
    text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    yellow 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 40px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

 h2{
     margin-top: 30px;
     text-align: center;
      font-family: Copperplate, Papyrus, fantasy;
    font-size:40px;
       text-shadow: 2px 2px black;
     color: gold;
}
h2 span {
  transition: 0.5s ease-out;
}

h2:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
h3{
    text-align: center;
    font-family: monospace;
    font-size:25px;
      text-shadow: 2px 2px black;
    color:greenyellow;
}
h4{
     margin-top: 30px;
     text-align: center;
      text-shadow: 2px 2px black;
      font-family: Copperplate, Papyrus, fantasy;
    font-size:40px;
     color: gold;
}
h4 span {
  transition: 0.5s ease-out;
}

h4:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}
h8{
      font-family: "Segoe Script";
    font-size: 25px;
    color: palevioletred;
    text-shadow: 2px 2px black;
    font-weight: bold;
}
p{
  font-family: Consolas;
    font-size: 20px;
    color: lightyellow;
      text-shadow: 2px 2px black;
    font-weight: bold;
    text-align: center;
}
#home{
    display: flex;
  
    text-align: center;
    flex-direction: column;
    padding: 90px 70px;
    color: #fff;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}
.overlay{
    background: rgb(0,0,0,-5);
    height: 100vh;
}
#mobile{
  display: none;
  height: 70px;
  line-height: 40px;
  /* background-color: rgba(0, 0, 0, 0.200); */
  background-color: #262626;
  position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 9999;
    overflow: hidden;
  
}

#mobile ul li{

  justify-content: flex-end;
  padding: -25px 5px;
  margin: -38px 0;
  font-size: 1rem;
  color: white;
}
#mobile ul li a{
  display: flex;
  text-decoration: none;
  color: white;
}
@media screen and (max-width:768px) {
  #mobile{
    display: block;
  }
  #navbar{
    display: none;
    
  }
  #home{
    display: flex;
   
    margin-top: 20px;
    
    text-align: center;
   
    color: #fff;
    justify-content: center;
    align-items: center;

    text-align: center;
}
  
  

  a:hover{
    background-color: rgb(22, 22, 94);
    border-radius: 16px;
    padding: 6px 8px 6px 8px;
    margin: -7px;
  }
  header{
    
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(https://images.unsplash.com/photo-1589302168068-964664d93dc0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-position: center;
    background-size: cover;
  
    height: 180vh;
}

}
.title{
    text-align: center;
    width: 100%;
   color: yellow;
  
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem;
    width: 100%;
    background-color: #262626;
    color: white;
}

